.header_common {
	width: 100%;
	height: 60px;
	line-height: 60px;
	border-bottom: 2px solid #013449;
	margin-bottom: 5px;
}

.header_common h1 {
	color: #fff;
	line-height: 60px;
	font-size: 25px;
}

.header_common>ul {
	width: 100%;
	height: 100%;
}

li.title{
	margin-left: 1%;
}

li.user{
	text-align:right;
	color: #fff;
}

li.time{
	color: #50fefd;
}

li.time>span.glyphicon-time{
	top: 3px;
    margin-right: 5px;
    font-size: 16px;
}

li.menuNav{
	margin: 12.5px 0.5%;
}

.border{
	border-right: 2px solid #080b0a;
}

.menu {
	height: 35px;
	background: #1a1b1f;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.menu li {
	width: 115px;
	position: relative;
	float: left;
	display: block;
	height: 100%;
	line-height: 35px;
}

.menu li a {
	display: block;
	border-bottom: 3px solid #09536d;
	padding: 0 10px;
	font-size: 15px;
	color: #f3f3f3;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

.menu a.active{/* 涓�骇鑿滃崟琚�涓殑鐘舵� */
	color: #50fefd;
	border-color: #50fefd;
}

.menu li:hover>a{
	color: #50fefd;
	border-color: #50fefd;
}

ul.erji li>a:hover{
	background: #222d31;
}

.menu ul {
	position: absolute;
	top: 39px;
	left: -15px;
	right: -15px;
	z-index: 2;
	opacity: 0;
	background: #2a3940;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	-webkit-transition: opacity .25s ease .1s;
	-moz-transition: opacity .25s ease .1s;
	-o-transition: opacity .25s ease .1s;
	-ms-transition: opacity .25s ease .1s;
	transition: opacity .25s ease .1s;
}

.menu li:hover>ul{
	opacity: 1;
}

.menu ul li {
	height: 0;
	overflow: hidden;
	padding: 0;
	-webkit-transition: height .25s ease .1s;
	-moz-transition: height .25s ease .1s;
	-o-transition: height .25s ease .1s;
	-ms-transition: height .25s ease .1s;
	transition: height .25s ease .1s;
}

.menu li:hover>ul li {
	width: 100%;
	height: 40px;/* 闁诲孩绋掓禒寤奸梺绋跨箰閸熸壆绮堢仦缁㈡畻婵☆垰鎼锟�*/
	overflow: visible;
	padding: 0;
}

.menu ul li a {
    line-height: 32px;/* 闁荤偞绋戦惌鍌炴偟閿燂拷 = 闁诲孩绋掓禒寤奸梺绋跨箰閸熸壆绮堢仦缁㈡畻婵☆垰鎼锟�- padding-top - padding-bottom, 濠殿喗绺块崐鏇⑺囬埡鍛櫖闁跨噦鎷�32px = 40px - 4px -4px */
	padding: 4px 10px;/* 闂佸憡鐟崹鎶芥偂閿燂拷, padding-top:4px, padding-bottom:4px */
    text-align: center;
    border: none;
    font-size: 13px;
}

.menu ul li:last-child a {
	border: none;
}

#currentLocation{
	color:#bbb;
}
#currentLocation .glyphicon-map-marker{margin-right:4px;}

#currentLocation>span{
	letter-spacing: 1px;
	font-size: 14px;
	line-height: 25px;
}

#currentLocation span.fr{
	position:relative;
}

#currentLocation span.fr span{
	position: absolute;
    right: 10px;
    top: 5px;
    color:#776969
}
.btn.btn-warning.button_small{
	height:24px;
	line-height:24px;
	padding:0px 10px;
	margin-left:10px;
}