body{
	background:#000;
}
#wrapper{
	padding: 0 0.5% 0 0.5%;
	width:100%;
	height:100%;
	background: url(../img/star.jpg);
	background-size: 100% 100%;
}
#content{
	width: 100%;
	margin:0 auto;
	color: #fff;
	min-height:660px;
}
/*������ͼ����⿪ʼ*/
.titleComClass{
	width:100%;
	height:36px;
	line-height:36px;
	background: #000711;
}
.titleComClass .tipColor{
	margin:8px 0px 0px 10px;
	width: 6px;
	height: 20px;
	background: #0edc96;
}
.titleComClass h4{
	height:100%;
	line-height:36px;
	margin-left:12px;
	font-size:16px;
}
/*������ͼ��������*/

.content_top{
	width:100%;
	height:468px;
}
.content_top_left{
	height:100%;
	width:50%;
}
.content_top_right{
	height:100%;
	width:50%;
}
.index_trends{
	height:432px;
	background: url(../img/chartBg.png);
	position:relative;
}
#index_trends{
	height:432px;	
}

.content_top_right_list{
	width:50%;
	height:150px;
}
.content_top_right_list .pull-right{
	width:96%;
}
.margin-bottom{
	margin-bottom:9px;
}
.common_number_bg{
	width:100%;
	height:114px;
	text-align:center;
	background: url(../img/chartBg.png);
	position:relative;
	overflow-x:auto;
}
.numberComClass{
	padding-top:10px;
	height:76px;
	width:100%;
	text-align:center;
}
.common_number_percent{
	height:26px;
	line-height:26px;
	text-align:center;
}
.common_dashboard_precent{
	width:45%;
	padding-top:24px;
	height:90px;
	text-align:left;
}
.common_dashboard_precent .common_number_percent{
	text-align:left;
}
.common_dashboard_number{
	font-size:30px;
	font-weight:bold;
	color:#50fefc;
	padding-top:0px;
}
.glyphicon-arrow-up{
	color:#52ffff;
}
.glyphicon-arrow-down{
	color:#f00000;
}
.common_dashboard{
	width:55%;	
	height:138px;
}
.common_dashboard.common_dashboard_dif{
	height:110px;
}
.numberComClass span{
	display:inline-block;
	width:26px;
	height: 48px;
	background: url(../img/number_bg.png)no-repeat;
}
.leftSpan,.rightSpan{
	display:inline-block;
	margin-left:10px;
	width: 8px;
	height: 58px;
	background:url(../img/number_bg.png)no-repeat;
}
.leftSpan{
	background-position:0px 0;
}
.rightSpan{
	background-position:-34px 0;
}
.numberComClass .splitLi{
	background: url(../img/number_bg.png) no-repeat -406px -35px;
	width:4px;
	height:14px;
	margin-left:2px;
}


.content_bottom{
	margin-top:16px;
	width:100%;
	height:230px;
}
.content_bottom_left{
	width:24%;
}
.content_bottom_center{
	width:38%;
}
.content_bottom_right{
	width:38%;
}

.content_bottom .pull-right{
	width:97%;
}
.content_bottom_bg{
	width:100%;
	/*height:194px;*/
	background: url(../img/chartBg.png);
	position:relative;
}
.no_data{
	position:absolute;
	top:50%;
	left:0;
	font-size:16px;
	width:100%;
	height:30px;
	line-height:30px;
	margin-top:-15px;
	text-align:center;
	z-index:9999;
}
#new_old_user{
	height:80%;
	position：absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}
@media screen and (max-width:1620px){
	#new_old_user{
		height:100%;
	}
}
#new_old_img{
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-19px;
	margin-left:-17px;
}
#hourse_active_user{
	height:100%;
}
#edition_use_visitor{
	height:100%;
}
#index_list .index_part.active .index_border{
	border:2px solid rgba(14, 125, 94, 0.5);
	position:relative;
}
#index_list .index_part.active .index_bg{
	border-top: 40px solid rgba(14, 125, 94, 0.5);
	border-left: 40px solid transparent;
	position:absolute;
	right:0px;
	top:0px;
}
#index_list .index_img{
	position:absolute;
	right:3px;
	top:3px;
	display:none;
}
#index_list .index_part.active .index_img{
	display:block;
}
/*用户留存情况开始*/
.content_use{
	height: calc( 100% - 100px );
}
.content_use_top{
	height:100%;
}
.content_use_left{
	width:50%;
	height:100%;
}
.content_use_left ul{
	height:100%;
}
.content_use_right{
	width:50%;
	height:100%;
}
.content_use_left .content_top_right_list{
	height:33%;
	width:50%;
}
.content_use_left .content_top_right_list .pull-left-width{
	width:96%;
	height:100%;
}
.content_use_top .common_number_bg{
	height: calc( 100% - 60px );
	position:relative;
}
.content_use_top .to_middle{
	height:138px;
	position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
}
.content_use_right li{
	height:33%;
	
}
.content_use_right #active_chart{
	width:98%;
	height:100%;
}
.content_use_right #user_chart{
	width:98%;
	height:100%;
}
.content_use_right #add_chart{
	width:98%;
	height:100%;
}
/*用户留存情况结束*/

/*�û����Է�����ʼ*/
.attribute_content{
	height:640px;
}
.attribute_content .small_width{
	width:34%;
}
.common_number_bg_top{
	display:inline-block;
}
.common_number_bg_top_name{
	padding-top:30px;
}
.attribute_content .big_width{
	width:66%;
}
.attribute_content .spacing_width{
	width:96%;
}
.common_number_bg_top.common_number_bg{
	height:400px;
}
.common_number_bg_bottom.common_number_bg{
	height:200px;
}
.edition_name_list li{
	margin-right:8px;
	margin-top:40px;
}
.edition_name_list i{
	display:inline-block;
	width:8px;
	height:8px;
	margin-right:4px;
	border-radius:50%;
}
#echarts_map{
	height:284px;
}
.attribute_content .user_operation{
	width:66%;
}
.user_operation_top{
	margin-top:20px;
}
.attribute_content .user_operation span{
	height:30px;
	font-size:14px;
}
.attribute_content .user_operation p{
	padding-top:10px;
}
.attribute_content .user_operation .text-right{
	padding-top:16px;
}
.attribute_content .user_operation .text-left{
	color:#50ffff;
	font-size:32px;
}
#user_operation{
	width:34%;
	margin-top:16px;
	height:160px;
}
.attribute_content .margin_bottom{
	margin-bottom:28px;
}
.attribute_content .user_equipment .common_number_bg{
	height:288px;
	overflow:hidden;
}
.attribute_content #equipment_model{
	width:98%;
	height:100%;
}
.attribute_content #equipment_rate{
	width:98%;
	height:100%;
}
.echarts_map_box{
	position:relative;
}